<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Manage Car</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index-2.html">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Manage Car</a>
      </li>
      <li class="breadcrumb-item">
        <strong>Add Model<strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-top:30px;padding-bottom:100px">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">

        <a href="home.html#manage_Car">
          <button type="button" class="btn btn-w-m btn-default">
            <i class="fas fa-plus"></i>
            New Car
          </button>
        </a>
        <a href="home.html#add_manufacture">
          <button type="button" class="btn btn-w-m btn-default">
            <i class="fas fa-plus"></i> Manufacture
          </button>
        </a>
        <a href="home.html#add_model">
          <button type="button" class="btn btn-w-m btn-success">
            <i class="fas fa-plus"></i>
            Model
          </button>
        </a>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5>Add Car Model </h5>

        </div>
        <div class="ibox-content">
          <form method="post" id="createModelForm">

            <!--Model -->
            <div class="hr-line-dashed"></div>
            <div class="form-group row"><label class="col-sm-2 col-form-label">Model</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="model_name" placeholder="eg: Perodua">
              </div>
            </div>

            <!--Manufactures -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Manufacturer</label>
              <div class="col-sm-10">
                <select class="form-control m-b" name="manufacturer_id">
                  <option> -- Please select your car manufacture --</option>
                  {{#each manufacturers}}
                  <option class="text-capitalize" value="{{id}}">{{manufacturer_name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group row">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white btn-sm" id="cancel">Cancel</button>
                <button class="btn btn-primary btn-sm" type="submit">Add Model</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5>Car Model List</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped" id="modelTable">
              <thead>
                <tr>
                  <th>Model ID</th>
                  <th>Model Name </th>
                  <th>Manufacture ID</th>

                </tr>
              </thead>
              <tbody>
                {{#each models}}
                <tr>
                  <td>{{id}}</td>
                  <td><span class="pie text-capitalize">{{model_name}}</span></td>
                  <td>{{manufacturer_id}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>