<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Car List</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="home.html#home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a>Car List</a>
      </li>
      <li class="breadcrumb-item">
        <strong>Car Results<strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-top:30px;padding-bottom:100px">
  <div class="row">
    {{#each cars}}
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitation" style="padding:0px">
            <img src="img/bg.jpg" alt="{{model_name}}" style="width:100%;height:100%">
          </div>
          <div class="product-desc">
            <span class="product-price">
              RM{{price_per_hour}}/h
            </span>
            <small class="text-muted">Premium</small>
            <a href="#" class="product-name text-capitalize">{{manufacturer_name}} {{model_name}}</a>
            <div class="small m-t-xs">
              Per Hour : RM{{price_per_hour}} <br>
              Year : {{year}} <br>
              Plate : {{plate_number}}
            </div>
            <div class="m-t text-right">
              <button name="bookCarButton" id="car{{id}}" class="btn btn-xs btn-outline btn-primary">
                Book <i class="fas fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <script>
    const api_url = 'https://car-rental-system-api.herokuapp.com'
    $('button[name=bookCarButton]').click(async (e) => {
      if (!sessionStorage.token) return window.location.href = 'login.html'
      const car_id = e.target.id.substr(3)
      const url = new URL(window.location.href)
      const urlArr = url.hash.split('/')
      if (urlArr.length != 4) {
        Swal.fire('Oupss..', 'Choose your booking duration first', 'error')
        return setTimeout(() => window.location.href = 'home.html#home', 2000)
      }
      const [hour, from_20, to_20] = urlArr.slice(-3)
      if (hour < 1) {
        Swal.fire('Oupss..', 'Duration of hour cannot be less than 1', 'error')
        return setTimeout(() => window.location.href = 'home.html#home', 2000)
      }
      const from = from_20.replace('%20', ' ')
      const to = to_20.replace('%20', ' ')
      const [date_from, time_from] = from.split(' ')
      const [date_to, time_to] = to.split(' ')
      const order = {
        car_id,
        hour,
        date_from,
        date_to,
        time_from,
        time_to,
      }
      const submittedOrder = await sendOrderToApi(order)
      if (submittedOrder.error !== 'none')
        return Swal.fire('Ouupss..', submittedOrder.error, 'error')
      Swal.fire('Order Successful', '', 'success')
      setTimeout(() => window.location.href = 'home.html#customer_booking_status', 1000)

    })

    const sendOrderToApi = async order => {
      const resOrder = await fetch(`${api_url}/create_order`, {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': `bearer ${sessionStorage.getItem('token')}`
        },
        body: JSON.stringify(order)
      })
      const submittedOrder = await resOrder.json()
      return submittedOrder
    };

  </script>