<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Booking Status</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index-2.html">Home</a>
      </li>
      <li class="breadcrumb-item">
        <strong>Booking Status<strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-top:30px;padding-bottom:100px">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5>Car Rental Approval</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped" id="approvalList">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Car</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>User</th>
                  <th>Remark</th>
                  <th>Approve/Reject</th>
                </tr>
              </thead>
              <tbody>
                {{#each orders}}
                <tr>
                  <td class="text-center">{{id}}</td>
                  <td class="text-capitalize">{{car.manufacturer_name}} {{car.model_name}}</td>
                  <td><span class="pie">{{date_from}} - {{date_to}}</span></td>
                  <td>{{time_from}} - {{time_to}}</td>
                  <td>{{user.id}}</td>
                  <td>RM {{total_price}}</td>
                  <td>{{{adminCanApprove approved id user.id}}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  (() => {
    if (sessionStorage.getItem('role') !== 'admin')
      return window.location.href = 'login.html'
  })()

  async function decide(order_id, user_id, decision) {
    try {
      const decideOrderRes = await fetch(`https://car-rental-system-api.herokuapp.com/approve/${user_id}/${decision}`, {
        method: 'put',
        headers: {
          Authorization: `bearer ${sessionStorage.getItem('token')}`
        }
      })
      const decideOrder = await decideOrderRes.json()
      console.log(decideOrder)
      if (!decideOrder.changedData)
        return Swal.fire('Something went wrong', decideOrder.error, 'error')

      if (decision == 1)
        Swal.fire(`Approval of order ${order_id} Successful`, '', 'success')
      else
        Swal.fire(`Rejection of order ${order_id} Successful`, '', 'success')
      return setTimeout(() => window.location.href = 'home.html#home', 1000)

    } catch (err) {
      return Swal.fire('Something went wrong', err.message, 'error')
    }
  }
</script>