<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Booking Status</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index-2.html">Home</a>
      </li>
      <li class="breadcrumb-item">
        <strong>Booking Status<strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-top:30px;padding-bottom:100px">
  {{#if order}}
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
      <div class="widget blue-bg p-lg text-center">
        <div class="m-b-md">
          <h1 class="font-bold m-xs">Status</h1>
        </div>
      </div>
      {{#displayApproval order.approved}}
      {{/displayApproval}}
    </div>
    <div class="col-lg-4">
      <div class="widget-head-color-box navy-bg p-lg text-center">
        <div class="m-b-md">
          <h2 class="font-bold no-margins text-capitalize">
            {{order.manufacturer_name}} {{order.model_name}}
          </h2>
        </div>
        <img src="img/bg.jpg" class="rounded-circle circle-border m-b-md" alt="profile" style="height:100%;width:100%">
        <div>
          <span class="text-capitalize">{{order.manufacturer_name}} {{order.model_name}}</span> |
          <span>RM {{order.price_per_hour}} per Hour</span> |
          <span class="text-capitalize">{{order.year}}</span>
        </div>
      </div>
      <div class="ibox mt-3">
        <div class="ibox-title">
          <h5>Car Details</h5>
        </div>
        <div class="ibox-content no-padding" style="">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge badge-primary">Plate Number</span>
              {{order.plate_number}}
            </li>
            <li class="list-group-item ">
              <span class="badge badge-info">Total Price</span>
              {{order.total_price}}
            </li>
            <li class="list-group-item">
              <span class="badge badge-danger">From</span>
              {{order.date_from}} {{order.time_from}}
            </li>
            <li class="list-group-item">
              <span class="badge badge-success">Until</span>
              {{order.date_to}} {{order.time_to}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card">
    <div class="card-body">
      <p class="card-text text-capitalize text-black">Currently no order</p>
    </div>
  </div>
  {{/if}}
</div>

<script>
  if (!sessionStorage.token)
    window.location.href = 'login.html'
</script>