<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Manage Car</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index-2.html">Home</a>
      </li>
      <li class="breadcrumb-item">
        <strong>Manage Car<strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-top:30px;padding-bottom:100px">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">

        <a href="home.html#manage_Car"><button type="button" class="btn btn-w-m btn-success"><i class="fas fa-plus"></i>
            New Car</button></a>
        <a href="home.html#add_manufacture"><button type="button" class="btn btn-w-m btn-default"><i
              class="fas fa-plus"></i> Manufacture</button></a>
        <a href="home.html#add_model"><button type="button" class="btn btn-w-m btn-default"><i class="fas fa-plus"></i>
            Model</button></a>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5>Add New Rental Car </h5>

        </div>
        <div class="ibox-content">
          <form method="post" id="manageCarForm">
            <!--Model -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Model</label>
              <div class="col-sm-10">
                <select class="form-control m-b" name="model_id">
                  <option value=''> -- Please select your car model --</option>
                  {{#each models}}
                  <option value='{{id}}'>{{model_name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <!--Year -->
            <div class="hr-line-dashed"></div>
            <div class="form-group row"><label class="col-sm-2 col-form-label">Year</label>
              <div class="col-sm-10">
                <input type="text" name="year" placeholder="eg: 2019" class="form-control" required=''>
              </div>
            </div>
            <!--Price per Hour -->
            <div class="hr-line-dashed"></div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Price per Hour (RM)</label>
              <div class="col-sm-10">
                <input type="text" placeholder="eg: 100" class="form-control" name="price_per_hour" required=''>
              </div>
            </div>
            <!--Plate Number -->
            <div class="hr-line-dashed"></div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Plate Number</label>
              <div class="col-sm-10">
                <input type="text" name="plate_number" placeholder="eg: wjy1000" class="form-control" required=''>
              </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group row">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-w-m btn-primary" type="submit">Add Car</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5>Car Rental List</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-9"></div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped text-capitalize" id="carsTable">
              <thead>
                <tr>
                  <th>Car</th>
                  <th>Plate Number</th>
                  <th>Year</th>
                  <th>Price per Hour</th>
                </tr>
              </thead>
              <tbody>
                {{#each cars}}
                <tr>
                  <td>{{manufacturer_name}} {{model_name}}</td>
                  <td class="text-lowercase">{{plate_number}}</td>
                  <td>{{year}}</td>
                  <td>{{price_per_hour}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>